@import "input";
@import "card";
@import "tailwind";
@import "~vue-snotify/styles/material";

.form-wrapper {
	width: 600px;
	margin: 0 auto;
}

.hero.is-dark .tile-wrapper {
	.title, .subtitle {
		color: black;
	}

	li {
		list-style: none;
	}
}
