// margin
.ml-5px { margin-left: 5px; }
.mb-30px { margin-bottom: 30px; }

// padding
.p-30px { padding: 30px; }

// width
.max-w-800px { max-width: 800px; }

// typography
.text-center { text-align: center !important; }